* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    /* overflow: hidden; */
}

body {
    width: 100%;
    background: black;
}

.logo-text, .logo-img {
    cursor: pointer;
}

.logo-img:hover {
    animation: animLT 0.8s;
}

@keyframes animLT {
    to {
        opacity: 0;
        transition: filter .1s;
    }
}

.bg-building {
    background: url("../assets/img/building.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    animation: animS1 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

@keyframes animS1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg-cities-whithout-clip {
    background: url("../assets/img/cities.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.bg-cities {
    background: url("../assets/img/cities.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.nav-links li {
    height: 100%;
    margin: 0 1rem;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition-duration: 150ms;
}

.nav-links li a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links li:hover {
    border-bottom: solid 3px white;
}

.active-link-nav {
    border-bottom: solid 4px white;
}

.content-section1 {
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.el-img img {
    transition: all 0.5s ease;
}

.el-img img:hover {
    transition: all 0.5s ease;
    animation: elImg 0.5s;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
}

@keyframes elImg {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        transform: scale(1.02);
    }
}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
}

.loader-content {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-logo {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.loader-logo-text {
    font-family: Creepster;
    letter-spacing: 0.1em;
}

.loader-logo .logo-img img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.flex-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before, .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
    -webkit-animation: prixClipFix 2s linear infinite;
}

.loader::after {
    border-color: #000000;
    animation: prixClipFix 2s linear infinite, rotate_ 0.5s linear infinite reverse;
    inset: 6px;
    -webkit-animation: prixClipFix 2s linear infinite, rotate_ 0.5s linear infinite reverse;
}

@keyframes rotate_ {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}